.ocultar {
    display: none;
}
body {
    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}
.contenedor {
    background: #dedede;
    padding: 20px;
    text-align: center;
}
.hidden {
    display: none;
}
.faltantes {
    background: #fff;
    padding: 15px;
    margin-top: 20px;
    border-radius: 6px;
}
.campo-label {
    display: block;
    margin-top: 8px;
    text-align: center;
}
.entrada-texto {
    width: 100%;
    padding: 5px;
    margin-top: 3px;
}
.file-input-wrapper {
    position: relative;
    display: inline-block;
}
.file-input-custom {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    margin-left: 0;
    margin-right: auto;
    background: #f9f9f9;
    border: 1px solid #999;
}
.file-input-hidden {
    position: absolute;
    left: -9999px;
}
.file-name {
    margin-top: 10px;
    font-style: italic;
    color: #666;
    text-align: center;
}
.btn-accion {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.errorCampo {
    border: 2px solid red !important;
}
.titulo-principal {
    text-align: center;
}
.titulo-secundario {
    text-align: center;
}
/* segundo style */
select.placeholder:invalid {
    color: #999;
}
select.placeholder option {
    color: black;
}
.validarCFDI {
    margin-left: 0px;
}
.entradas {
    width: 155px;
    padding: 5px;
    margin-top: 3px;
    text-align: center;
}